
.hero {
  padding: 20px;
}

.title {
  padding: (20px * 3) 0;
  text-align: center;
  font-size: (20px * 3);
  text-transform: uppercase;
}

.subtitle {
  padding: (20px * 2) 0;
  text-align: center;
  font-size: 20px * 2;
  font-style: italic;
  font-weight: normal;
}

.title + .subtitle {
  margin-top: (- 20px * 3);
}
