
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black, 3%;
  line-height: 1.5;
  padding: 20px;
  font-weight: 700;
}
.icon {
  text-decoration: none;
  font-size:36px;
  color: white;
}
.inside {
  list-style-type: none;
  padding-left: 20px;

  li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
      a {
        color: white;
        text-decoration: none;
      }
      .linkActive {
        color: red;
      }
  }
}
